# build output
 dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Cascade AI memory & plugin internal files
.cascade/

# VSCode settings (opsional, jika tidak ingin share workspace config)
.vscode/

# jwt library
public_html/
